@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-lexend: var(--font-lexend);
  --font-noto: var(--font-noto-sans);
}

@utility container {
  margin-inline: auto;
  padding-inline: 40px;
}
